<!DOCTYPE html>

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- navbar-->
        <div class="ui segment secondary pointing menu" id="homehead">
              <a class="item" href="/home">
                <i class="home icon"></i>Home
              </a>
              <a class="item" href="/home/add/<%= currentUser.id %>">
                <i class="book icon"></i>Booking
              </a>
              <a class="item" href="/home/view/<%= currentUser.id %>">
                <i class="address book icon"></i>Booked
            </a>
            <a class="item" href="/home/consultant">
              <i class="user md icon"></i>Consultant
            </a>
            <a class="item" href="/home/covid">
              <i class="certificate icon"></i></i>COVID-19
            </a>
          
          <div class="right menu">
            <% if(currentUser){ %>
            <div class="ui item"><a href="/home" style="text-decoration:none;color: black;">Signed in as <%= currentUser.username %></a></div>
            <% } %>
            <a class="ui item" href="/logout">
              <i class="sign out alternate icon"></i>Logout
            </a>
          </div>
        </div>
        <div>
          <% if(error && error.length > 0){ %>
              <div class="ui negative message" style="margin-top: 2px; margin-left: 5px;margin-right: 5px;z-index: 1;">
                  <i class="close icon"></i>
                  <div class="header">
                      <%= error %>
                  </div>
               </div>
          <% } %>
          <% if(success && success.length > 0){ %>
              <div class="ui success message" style="margin-top: 2px;margin-left: 5px;margin-right: 5px;z-index: 1;">
                  <i class="close icon"></i>
                  <div class="header">
                    <%= success %>
                  </div>
                  
                </div>
          <% } %>
      </div> 

      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        
      <script type="text/javascript">
        const msg = document.querySelector('.message');
        msg.addEventListener('click', () =>{
          msg.style.display = 'none'
        });
      </script>
<!--       -->