<%- include("./partials/header.ejs") %>

        <div class="doctor">
            <% doctor.forEach((result) => { %>
                <div class="personal">
                    <p>Doctor's Name: <span><%= result.name %></span></p>
                    <p>Specality: <span><%= result.speciality %></span></p>
                    <p>Experience: <span><%= result.experience %></span></p>
                    <p>Working Days: <span><%= result.working_hrs %></span></p>
                </div>
            <% }) %>
        </div>

        <div class="bottom">
            <p>Jaidev Chaudhary <br> jaidevchaudhary810@gmail.com <br> 2020 @ copyrights.</p>
            <p class="contact">For any problem Contact </p>

        </div>
    </body>
</html>