<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Covid-19</title>
    <link rel="icon" href="/stylesheets/images/covid.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/covid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
  </head>
  <body>
        <div class="info">
          <div>
              <a href="/gmail"><i class="fab fa-google-plus-g" style="text-decoration: none;color: white;"></i></a>
              <a href="/facebook"><i class="fab fa-facebook" style="text-decoration: none;color: white;"></i></a>
              <a href="/twitter"><i class="fab fa-twitter" style="text-decoration: none; color:  white"></i></a>
              <a href="/github"><i class="fab fa-github" style="text-decoration: none; color: white"></i></a>
          </div>
          <text style="position: relative;right: 2%; color: white;">
              <a href="/home/profile/<%= currentUser.id %>" style="text-decoration: none;color: white;">My Profile</a>
            <% if(currentUser){ %>
              <a href="/home" style="text-decoration: none;color: white;">Signed in as <%= currentUser.firstname %></a>
              <% } %>
              <a href="/logout" style="text-decoration: none;color:white;">Log Out</a>
            
            </text>
      </div>
      <div class="navbar">
          <div class="logo">
              <img src="/stylesheets/images/android-chrome-192x192.png">
              <div style="position: relative;left: 10%;top: 30%;color: red;font-size: 40px;font-weight: 700;">RDBMS</div>
          </div>
          <ul class="items">
              <li>
                  <a href="/home">Home</a>
              </li>
              <li>
                  <a href="/home/add/<%= currentUser.id %>">Appointment</a>
              </li>
              <li>
                  <a href="/home/view/<%= currentUser.id %>">Booked</a>
              </li>
              <li>
                  <a href="/home/consultant">Consultant</a>
              </li>
              <li>
                  <a href="/home/covid">Covid-19</a>
              </li>
          </ul>
      </div>
      <div class="covid">
        <div  class="block1">
            <img src="/stylesheets/images/woman.jpg">
        </div>
        <div class="block2">
            <div class="row1">
                <div class="elem1" style="background-color: #003da5;">
                  <i class="fas fa-clock fa-2x" style="color:white;"></i>
                  <p><a href="#">Time Series</a></p>
                </div>
                <div class="elem1" style="background-color: #1950ae;">
                  <i class="fas fa-map-marker-alt fa-2x" style="color: white;"></i>
                  <p><a href="#">StateWise</a></p>
                </div>
            </div>
            <div class="row1">
                <div class="elem2" style="background-color: #3364b7;">
                  <i class="fas fa-vial fa-2x" style="color: white;"></i>
                  <p><a href="#">Tested</a></p>
                </div>
                <div class="elem2" style="background-color: #4c77c0;">
                  <i class="far fa-newspaper fa-2x" style="color: white;"></i>
                  <p><a href="#">Updates</a></p>
                </div>
            </div>
        </div>
      </div>

      <div class="details">
        <div class="table">
            <table>
              <thead>
                <tr><th>State/UT</th>
                <th>Confirmed</th>
                <th>Active</th>
                <th>Recovered</th>
                <th>deceased</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0;i< 37;i++){ %>
                  <tr>
                    <td data-label="state"><%= data['statewise'][i]['state'] %></td>
                    <td data-label="confirmed"><%= data['statewise'][i]['confirmed'] %></td>
                    <td data-label="active"><%= data['statewise'][i]['active'] %></td>
                    <td data-label="recovered"><%= data['statewise'][i]['recovered'] %></td>
                    <td data-label="deceased"><%= data['statewise'][i]['deaths'] %></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
        </div>
      </div>
      <div class="end">

      </div>
  </body>
</html>
