<%- include("./partials/header.ejs") %>


        <div class="appoint">
            <div class="head">
                Your Appointment
            </div>
            <% patient.forEach(function(patient){ %>
                <div class="booked">
                   <p>Doctor's Name - <%= patient.doctor %></p>
                    <p>Email - <%= patient.email %></p>
                    <p>Date - <%= patient.created_at.toDateString() %></p>
                    <p>Description - <%= patient.description %></p>
                    <form action="/home/view/<%= patient.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn">Cancel</button>
                    </form>
                </div>

           <% }) %>

        </div>
        <div class="end">

        </div>
        
        
    </body>
</html>




